body {
    font-family: 'Consolas';
    background-color: black;
    color: white;
  }
.navbar-img {
  height: 5rem;
  width: 5rem;
  }
.title-link {
  font-size: 32px;
  color: white;
  text-decoration: none;
  }
colm.sidebar {
  padding: 0;
  }
li.list-group-item {
  color: white;
  background-color: black;
  font-size: 24px;
  }
colm.main-content {
  background-color: brown;
  }

itemcard {
  color: white;
  background-color: black;
  margin: 1rem;
  }
.card {
  background-color: royalblue;
  margin: 1rem;
  }
.card-header {
  color: white;
  background-color: slategrey;
  text-transform: capitalize;
  font-size: 24px;
  }
.card-body {
  background-color: black;
}
.card-footer {
  color: white;
  background-color: slategrey;
  }
.task-complete {
  text-decoration: line-through;
  color: grey;
}

