/* TODO add style classes */
* {
  color: white;
  font-family: Tahoma, Verdana, Geneva, sans-serif;
  /* border: solid rgba(255, 0, 0, 0.363) 1px; */
}
body {
  background-color: #676767;
}
/* header {
  background-color: blue;
} */
.title-bar {
  text-align: center;
  text-transform: uppercase;
}
main {
  background-color: #676767;
}
footer {
  background-color: blueviolet;
}