/* TODO add style classes */
* {
  border: solid rgba(255, 0, 0, 0.363) 1px;
}
body {
  background-color: #4e4d4c;
}
header {
  background-color: blue;
}
main {
  background-color: #777574;
}
footer {
  background-color: blueviolet;
}
