/* BASIC STYLES HERE */
body{
  min-height: 100vh;
  background-image: url('https://pbs.twimg.com/media/E-SDfY8VcAEe8iR?format=jpg&name=large');
  background-size: cover;
  }

.footer-img{
  max-height: 2vh;
  max-width: 1vw;
}
